body {
    padding: 0.5em;
    margin-top: 0.5em;
    margin-left: 0.7em;
}

blockquote {
    padding: 0.5em 0.5em;
    border: 0.5em groove brown;
}

a:link {
    color: red;    
    text-decoration: none;
}

a:hover {
    color: blue; 
}

a:active {
    color: yellow; 
}

a:visited {
    color: green;
}

img {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid red;
}

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 100%;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: grey;
    color: white;
}

tr:nth-child(odd) {
    background-color: white;
    color: black;
}

#nav {
    background-color: black;
    color: white;
}
    
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav li {
    float: left;
}

#nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;  
    padding: 20px; 
}

#nav a:hover {
    background-color: white;
    color: black;
    transform: scale(1.5);
}

#nav ul .active {
    background-color: red;
    color: white;
}

#leftmenu {
    position: fixed;
    z-index: 1;
    float: left;
    left: 0px;
    width: 150px;
    text-align: center;
}

#leftmenu ul {
    list-style-type: none;
    display: inline-block;
}

#leftmenu a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
}

#leftmenu a:hover {
    background-color: black;
    color: white;
}

#main {
    float: left;
    width: 60%;
    margin-left: 180px;
}